.developer {
    background-color: #ddfaf0;
    padding: 20px 0;
    border-radius: 15px;
    transition: 0.4s;
    border: none;
}
.developer:hover {
    
    transform: scale(1.03);
}
.card-img-top {
    border-radius: 200px;
    margin-bottom: 10px;
    height: 175px;
    width: 175px;
}
.add-to-list {
    margin: 10px 0px;
    border: none;
    background-color: #1e754a;
    padding: 7px 21px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.add-to-list:hover {
    transform: scale(1.1);
}
/* image responsive part */
@media only screen and (max-width: 1200px) {
    .card-img-top {
        width: 175px;
        height: 175px;
    }
}
@media only screen and (max-width: 768px) {
    .card-img-top {
        width: 200px;
        height: 200px;
    }
}